.countriesContainer {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 25px;
}

.countriesHeader {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
