.countriesContainer {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 25px;
}

.countriesHeader {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .countriesContainer {
    padding: 5px 20px;
  }

  .countriesHeader {
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
    margin: 5px 10px;
  }

  .countriesHeader form {
    margin: 15px 0;
  }

  .cardsContainer div {
    width: 100%;
  }
}
