.countryContainer {
  text-align: left;

  .backBtn {
    font-size: 16px;
    font-weight: 300;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 52%);
    border-radius: 5px;
    padding: 10px 30px;
    margin: 50px 0 60px 70px;

    ion-icon {
      vertical-align: top;
      font-size: 16px;
      font-weight: 900;
    }
  }

  .back {
    font-size: 16px;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(200, 15%, 8%);
    border-radius: 5px;
    background: hsl(209, 23%, 22%);
    padding: 10px 30px;
    margin: 50px 0 60px 70px;

    ion-icon {
      vertical-align: top;
      font-size: 16px;
      font-weight: 900;
    }
  }

  .country {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    padding: 55px;
    font-size: 16px;

    img {
      width: 45%;
      padding: 20px;
    }

    .countryInfo {
      width: 45%;
      font-weight: 700;
      padding: 50px;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        display: inline;
      }

      .countryName {
        font-weight: 900;
        font-size: 30px;
      }

      .stat {
        font-weight: 300;
        margin-left: 5px;
      }

      .countryStats {
        display: flex;

        .row {
          width: 50%;
        }
      }

      .borderCountries {
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .countryContainer {
    .backBtn {
      margin: 20px 30px;
    }

    .back {
      margin: 20px 30px;
    }

    .country {
      margin: 25px 30px;

      img {
        width: 100%;
      }

      .countryInfo {
        width: 100%;
        padding: 10px 30px;

        .countryStats {
          flex-direction: column;

          .row {
            width: 100%;
          }
        }
      }
    }
  }
}
