.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: hsl(0, 0%, 98%);
}

.container {
  height: 100%;
  width: 100%;
}

.night {
  background: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
