nav {
  display: flex;
  justify-content: space-between;
  background: hsl(0, 0%, 100%);
  padding: 15px;

  .dark {
    background: hsl(209, 23%, 22%);
  }

  .logo {
    font-size: 25px;
    font-weight: 800;
  }

  button {
    border: none;
    background: rgba(0, 0, 0, 0);
  }

  ion-icon {
    font-size: 18px;
  }

  button span {
    margin: 5px;
    font-size: 15px;
    vertical-align: top;
  }
}

.dark {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);

  ion-icon {
    color: hsl(0, 0%, 100%);
  }

  button span {
    color: hsl(0, 0%, 100%);
  }
}
