.nav {
  background: hsl(0, 0%, 100%);
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .logo {
    font-size: 25px;
    font-weight: 800;
  }

  button {
    border: none;
    background: rgba(0, 0, 0, 0);
  }

  ion-icon {
    font-size: 18px;
  }

  button span {
    margin: 5px;
    font-size: 15px;
    vertical-align: top;
  }
}
